.filter__icon {
    color: var(--white);
    font-size: 34px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}